In [19]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")

In [3]:
ratings.head()

   userId  movieId  rating
0       3        1     4.0
1       3       29     4.5
2       3       32     4.5
3       3       50     5.0
4       3      111     4.0

In [4]:
avg_rating = ratings.groupby("movieId").mean()["rating"]
count_rating = ratings.groupby("movieId").count()["rating"]

In [5]:
avg_rating.head()

movieId
1    3.829605
2    3.053276
3    2.856385
4    2.555130
5    2.710561
Name: rating, dtype: float64

In [6]:
count_rating.head()

movieId
1    8360
2    6044
3    2357
4     653
5    2301
Name: rating, dtype: int64

In [7]:
movies = movies.merge(count_rating,left_on=["movieId"],right_on = ["movieId"])

In [8]:
movies = movies.rename(columns={'rating':'vote_count'})

In [9]:
movies = movies.merge(avg_rating,left_on=["movieId"],right_on = ["movieId"])
movies = movies.rename(columns={'rating':'avg_rating'})

In [10]:
movies.head()

,movieId,title,genres,vote_count,avg_rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8360,3.829605
1,2,Jumanji (1995),Adventure|Children|Fantasy,6044,3.053276
2,3,Grumpier Old Men (1995),Comedy|Romance,2357,2.856385
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,653,2.555130
4,5,Father of the Bride Part II (1995),Comedy,2301,2.710561

In [13]:
for i in range(movies.shape[0]):
    movies["genres"][i] = movies["genres"][i].split('|')

d:\program files\python\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
movies.head()

,movieId,title,genres,vote_count,avg_rating
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",8360,3.829605
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",6044,3.053276
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",2357,2.856385
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",653,2.555130
4,5,Father of the Bride Part II (1995),[Comedy],2301,2.710561

In [25]:
#get different genres
genres = []
for i in range(movies.shape[0]):
    genres.extend(movies.iloc[i,2])

In [26]:
genres = list(set(genres))
genres

['Drama',
 'Sci-Fi',
 'Thriller',
 'Fantasy',
 'Adventure',
 'Crime',
 'War',
 'IMAX',
 'Comedy',
 'Horror',
 'Musical',
 'Western',
 'Film-Noir',
 'Mystery',
 'Children',
 'Romance',
 'Animation',
 'Action',
 'Documentary']

In [30]:
for gen in genres:
    movies[gen] = list(np.zeros(movies.shape[0],dtype=int))

In [31]:
movies.head()

,movieId,title,genres,vote_count,avg_rating,Drama,Sci-Fi,Thriller,Fantasy,Adventure,...,Horror,Musical,Western,Film-Noir,Mystery,Children,Romance,Animation,Action,Documentary
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",8360,3.829605,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",6044,3.053276,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",2357,2.856385,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",653,2.555130,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),[Comedy],2301,2.710561,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
for i in range(movies.shape[0]):
    for gen in movies.iloc[i,2]:
        movies[gen][i] = 1

d:\program files\python\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [41]:
movies.head()

,movieId,title,genres,vote_count,avg_rating,Drama,Sci-Fi,Thriller,Fantasy,Adventure,...,Horror,Musical,Western,Film-Noir,Mystery,Children,Romance,Animation,Action,Documentary
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",8360,3.829605,0,0,0,1,1,...,0,0,0,0,0,1,0,1,0,0
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",6044,3.053276,0,0,0,1,1,...,0,0,0,0,0,1,0,0,0,0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",2357,2.856385,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",653,2.555130,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,5,Father of the Bride Part II (1995),[Comedy],2301,2.710561,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
user_movies = {'John Wick (2014)':2,'John Wick: Chapter Two (2017)':1,'Titanic (1997)':4,'Zootopia (2016)':4,
               'Parent Trap, The (1998)':4,'Incredibles 2 (2018)':5,'Avatar (2009)':5,
               'Avengers: Infinity War - Part II (2019)':5,'Spider-Man: Into the Spider-Verse (2018)':2,
               'Johnny English (2003':4}

In [98]:
watched = movies.loc[movies["title"].isin(user_movies.keys())]
watched.head()

,movieId,title,genres,vote_count,avg_rating,Drama,Sci-Fi,Thriller,Fantasy,Adventure,...,Horror,Musical,Western,Film-Noir,Mystery,Children,Romance,Animation,Action,Documentary
1407,1721,Titanic (1997),"[Drama, Romance]",7832,3.289070,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1670,2059,"Parent Trap, The (1998)","[Children, Comedy, Romance]",1623,3.032656,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
7783,72998,Avatar (2009),"[Action, Adventure, Sci-Fi, IMAX]",4774,3.518328,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
9002,115149,John Wick (2014),"[Action, Thriller]",2237,3.609745,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
9118,122914,Avengers: Infinity War - Part II (2019),"[Action, Adventure, Sci-Fi]",937,3.841515,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [99]:
not_watched = movies.loc[~movies["title"].isin(user_movies.keys())]
not_watched.head()

,movieId,title,genres,vote_count,avg_rating,Drama,Sci-Fi,Thriller,Fantasy,Adventure,...,Horror,Musical,Western,Film-Noir,Mystery,Children,Romance,Animation,Action,Documentary
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",8360,3.829605,0,0,0,1,1,...,0,0,0,0,0,1,0,1,0,0
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",6044,3.053276,0,0,0,1,1,...,0,0,0,0,0,1,0,0,0,0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",2357,2.856385,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",653,2.555130,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,5,Father of the Bride Part II (1995),[Comedy],2301,2.710561,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
watched = watched.reset_index(drop=True)
watched

,movieId,title,genres,vote_count,avg_rating,Drama,Sci-Fi,Thriller,Fantasy,Adventure,...,Horror,Musical,Western,Film-Noir,Mystery,Children,Romance,Animation,Action,Documentary
0,1721,Titanic (1997),"[Drama, Romance]",7832,3.289070,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,2059,"Parent Trap, The (1998)","[Children, Comedy, Romance]",1623,3.032656,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
2,72998,Avatar (2009),"[Action, Adventure, Sci-Fi, IMAX]",4774,3.518328,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,115149,John Wick (2014),"[Action, Thriller]",2237,3.609745,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,122914,Avengers: Infinity War - Part II (2019),"[Action, Adventure, Sci-Fi]",937,3.841515,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
5,152081,Zootopia (2016),"[Action, Adventure, Animation, Children, Comedy]",2052,3.719298,0,0,0,0,1,...,0,0,0,0,0,1,0,1,1,0
6,168248,John Wick: Chapter Two (2017),"[Action, Crime, Thriller]",1194,3.541039,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
7,187541,Incredibles 2 (2018),"[Action, Adventure, Animation, Children]",891,3.595398,0,0,0,0,1,...,0,0,0,0,0,1,0,1,1,0
8,195159,Spider-Man: Into the Spider-Verse (2018),"[Action, Adventure, Animation, Sci-Fi]",859,4.062864,0,1,0,0,1,...,0,0,0,0,0,0,0,1,1,0

In [101]:
for i in range(gen_mat.shape[0]):
    title = watched["title"][i]
    rating = user_movies[title]
    for j in range(5,watched.shape[1]):
        watched.iloc[i,j]*= (rating-2.5)

In [102]:
gen_mat = watched.iloc[:,5:]
gen_mat

,Drama,Sci-Fi,Thriller,Fantasy,Adventure,Crime,War,IMAX,Comedy,Horror,Musical,Western,Film-Noir,Mystery,Children,Romance,Animation,Action,Documentary
0,1.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.0,0.0,0.0,1.5,1.5,0.0,0.0,0.0
2,0.0,2.5,0.0,0.0,2.5,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0
3,-0.0,-0.0,-0.5,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.5,-0.0
4,0.0,2.5,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0
5,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.0,1.5,0.0,0.0,0.0,0.0,0.0,1.5,0.0,1.5,1.5,0.0
6,-0.0,-0.0,-1.5,-0.0,-0.0,-1.5,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-1.5,-0.0
7,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,2.5,2.5,0.0
8,-0.0,-0.5,-0.0,-0.0,-0.5,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.5,-0.5,-0.0

In [108]:
gen_data = gen_mat.sum(axis = 0)
gen_data

Drama          1.5
Sci-Fi         4.5
Thriller      -2.0
Fantasy        0.0
Adventure      8.5
Crime         -1.5
War            0.0
IMAX           2.5
Comedy         3.0
Horror         0.0
Musical        0.0
Western        0.0
Film-Noir      0.0
Mystery        0.0
Children       5.5
Romance        3.0
Animation      3.5
Action         6.5
Documentary    0.0
dtype: float64

In [114]:
for j in gen_data.index:
    not_watched[j] *=gen_data[j]

d:\program files\python\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [115]:
not_watched

,movieId,title,genres,vote_count,avg_rating,Drama,Sci-Fi,Thriller,Fantasy,Adventure,...,Horror,Musical,Western,Film-Noir,Mystery,Children,Romance,Animation,Action,Documentary
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",8360,3.829605,0.0,0.0,-0.0,0.0,8.5,...,0.0,0.0,0.0,0.0,0.0,5.5,0.0,3.5,0.0,0.0
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",6044,3.053276,0.0,0.0,-0.0,0.0,8.5,...,0.0,0.0,0.0,0.0,0.0,5.5,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",2357,2.856385,0.0,0.0,-0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",653,2.555130,1.5,0.0,-0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),[Comedy],2301,2.710561,0.0,0.0,-0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,203519,Fast & Furious Presents: Hobbs & Shaw (2019),[Action],105,3.061905,0.0,0.0,-0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.5,0.0
9996,204352,Ad Astra (2019),"[Adventure, Drama, Mystery, Sci-Fi, Thriller]",113,3.371681,1.5,4.5,-2.0,0.0,8.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,204542,It: Chapter Two (2019),[Horror],109,3.128440,0.0,0.0,-0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,204698,Joker (2019),"[Crime, Drama, Thriller]",333,3.965465,1.5,0.0,-2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,205383,El Camino: A Breaking Bad Movie (2019),"[Crime, Drama, Thriller]",147,3.513605,1.5,0.0,-2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0