In [13]:
import pandas as pd
import numpy as np

In [76]:
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")

In [77]:
ratings.head()

   userId  movieId  rating
0       3        1     4.0
1       3       29     4.5
2       3       32     4.5
3       3       50     5.0
4       3      111     4.0

In [78]:
avg_rating = ratings.groupby("movieId").mean()["rating"]
count_rating = ratings.groupby("movieId").count()["rating"]

In [79]:
avg_rating.head()

movieId
1    3.829605
2    3.053276
3    2.856385
4    2.555130
5    2.710561
Name: rating, dtype: float64

In [80]:
count_rating.head()

movieId
1    8360
2    6044
3    2357
4     653
5    2301
Name: rating, dtype: int64

In [81]:
movies = movies.merge(count_rating,left_on=["movieId"],right_on = ["movieId"])

In [82]:
movies = movies.rename(columns={'rating':'vote_count'})

In [83]:
movies = movies.merge(avg_rating,left_on=["movieId"],right_on = ["movieId"])
movies = movies.rename(columns={'rating':'avg_rating'})

In [84]:
movies.head()

,movieId,title,genres,imdbId,poster_img,vote_count,avg_rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,8360,3.829605
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,https://m.media-amazon.com/images/M/MV5BZTk2Zm...,6044,3.053276
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,https://m.media-amazon.com/images/M/MV5BMjQxM2...,2357,2.856385
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,https://m.media-amazon.com/images/M/MV5BYzcyMD...,653,2.555130
4,5,Father of the Bride Part II (1995),Comedy,113041,https://m.media-amazon.com/images/M/MV5BOTEyNz...,2301,2.710561

In [85]:
for i in range(movies.shape[0]):
    movies["genres"][i] = movies["genres"][i].split('|')

d:\program files\python\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [86]:
movies.head()

,movieId,title,genres,imdbId,poster_img,vote_count,avg_rating
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",114709,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,8360,3.829605
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",113497,https://m.media-amazon.com/images/M/MV5BZTk2Zm...,6044,3.053276
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",113228,https://m.media-amazon.com/images/M/MV5BMjQxM2...,2357,2.856385
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",114885,https://m.media-amazon.com/images/M/MV5BYzcyMD...,653,2.555130
4,5,Father of the Bride Part II (1995),[Comedy],113041,https://m.media-amazon.com/images/M/MV5BOTEyNz...,2301,2.710561

In [87]:
#get different genres
genres = []
for i in range(movies.shape[0]):
    genres.extend(movies.iloc[i,2])

In [88]:
genres = list(set(genres))
genres

['Drama',
 'Mystery',
 'Romance',
 'Children',
 'Adventure',
 'Action',
 'Comedy',
 'Musical',
 'Documentary',
 'Fantasy',
 'Thriller',
 'War',
 'Horror',
 'Western',
 'Film-Noir',
 'Sci-Fi',
 'Animation',
 'IMAX',
 'Crime']

In [89]:
for gen in genres:
    movies[gen] = list(np.zeros(movies.shape[0],dtype=int))

In [90]:
movies.head()

,movieId,title,genres,imdbId,poster_img,vote_count,avg_rating,Drama,Mystery,Romance,...,Fantasy,Thriller,War,Horror,Western,Film-Noir,Sci-Fi,Animation,IMAX,Crime
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",114709,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,8360,3.829605,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",113497,https://m.media-amazon.com/images/M/MV5BZTk2Zm...,6044,3.053276,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",113228,https://m.media-amazon.com/images/M/MV5BMjQxM2...,2357,2.856385,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",114885,https://m.media-amazon.com/images/M/MV5BYzcyMD...,653,2.555130,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),[Comedy],113041,https://m.media-amazon.com/images/M/MV5BOTEyNz...,2301,2.710561,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
for i in range(movies.shape[0]):
    for gen in movies.iloc[i,2]:
        movies[gen][i] = 1

d:\program files\python\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [92]:
movies.head()

,movieId,title,genres,imdbId,poster_img,vote_count,avg_rating,Drama,Mystery,Romance,...,Fantasy,Thriller,War,Horror,Western,Film-Noir,Sci-Fi,Animation,IMAX,Crime
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",114709,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,8360,3.829605,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",113497,https://m.media-amazon.com/images/M/MV5BZTk2Zm...,6044,3.053276,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",113228,https://m.media-amazon.com/images/M/MV5BMjQxM2...,2357,2.856385,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",114885,https://m.media-amazon.com/images/M/MV5BYzcyMD...,653,2.555130,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),[Comedy],113041,https://m.media-amazon.com/images/M/MV5BOTEyNz...,2301,2.710561,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
user_movies = {'John Wick (2014)':2,'John Wick: Chapter Two (2017)':1,'Titanic (1997)':4,'Zootopia (2016)':4,
               'Parent Trap, The (1998)':4,'Incredibles 2 (2018)':5,'Avatar (2009)':5,
               'Avengers: Infinity War - Part II (2019)':5,'Spider-Man: Into the Spider-Verse (2018)':2,
               'Johnny English (2003':4}

In [94]:
watched = movies.loc[movies["title"].isin(user_movies.keys())]
watched.head()

,movieId,title,genres,imdbId,poster_img,vote_count,avg_rating,Drama,Mystery,Romance,...,Fantasy,Thriller,War,Horror,Western,Film-Noir,Sci-Fi,Animation,IMAX,Crime
1407,1721,Titanic (1997),"[Drama, Romance]",120338,https://m.media-amazon.com/images/M/MV5BMDdmZG...,7832,3.289070,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1670,2059,"Parent Trap, The (1998)","[Children, Comedy, Romance]",120783,https://m.media-amazon.com/images/M/MV5BNWYyMz...,1623,3.032656,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7783,72998,Avatar (2009),"[Action, Adventure, Sci-Fi, IMAX]",499549,https://m.media-amazon.com/images/M/MV5BMTYwOT...,4774,3.518328,0,0,0,...,0,0,0,0,0,0,1,0,1,0
9002,115149,John Wick (2014),"[Action, Thriller]",2911666,https://m.media-amazon.com/images/M/MV5BMTU2Nj...,2237,3.609745,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9118,122914,Avengers: Infinity War - Part II (2019),"[Action, Adventure, Sci-Fi]",4154796,https://m.media-amazon.com/images/M/MV5BMTc5MD...,937,3.841515,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [95]:
not_watched = movies.loc[~movies["title"].isin(user_movies.keys())]
not_watched.head()

,movieId,title,genres,imdbId,poster_img,vote_count,avg_rating,Drama,Mystery,Romance,...,Fantasy,Thriller,War,Horror,Western,Film-Noir,Sci-Fi,Animation,IMAX,Crime
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",114709,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,8360,3.829605,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",113497,https://m.media-amazon.com/images/M/MV5BZTk2Zm...,6044,3.053276,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",113228,https://m.media-amazon.com/images/M/MV5BMjQxM2...,2357,2.856385,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",114885,https://m.media-amazon.com/images/M/MV5BYzcyMD...,653,2.555130,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),[Comedy],113041,https://m.media-amazon.com/images/M/MV5BOTEyNz...,2301,2.710561,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [96]:
watched = watched.reset_index(drop=True)
watched

,movieId,title,genres,imdbId,poster_img,vote_count,avg_rating,Drama,Mystery,Romance,...,Fantasy,Thriller,War,Horror,Western,Film-Noir,Sci-Fi,Animation,IMAX,Crime
0,1721,Titanic (1997),"[Drama, Romance]",120338,https://m.media-amazon.com/images/M/MV5BMDdmZG...,7832,3.289070,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2059,"Parent Trap, The (1998)","[Children, Comedy, Romance]",120783,https://m.media-amazon.com/images/M/MV5BNWYyMz...,1623,3.032656,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,72998,Avatar (2009),"[Action, Adventure, Sci-Fi, IMAX]",499549,https://m.media-amazon.com/images/M/MV5BMTYwOT...,4774,3.518328,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,115149,John Wick (2014),"[Action, Thriller]",2911666,https://m.media-amazon.com/images/M/MV5BMTU2Nj...,2237,3.609745,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,122914,Avengers: Infinity War - Part II (2019),"[Action, Adventure, Sci-Fi]",4154796,https://m.media-amazon.com/images/M/MV5BMTc5MD...,937,3.841515,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,152081,Zootopia (2016),"[Action, Adventure, Animation, Children, Comedy]",2948356,https://m.media-amazon.com/images/M/MV5BOTMyMj...,2052,3.719298,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,168248,John Wick: Chapter Two (2017),"[Action, Crime, Thriller]",4425200,https://m.media-amazon.com/images/M/MV5BMjE2ND...,1194,3.541039,0,0,0,...,0,1,0,0,0,0,0,0,0,1
7,187541,Incredibles 2 (2018),"[Action, Adventure, Animation, Children]",3606756,https://m.media-amazon.com/images/M/MV5BMTEzNz...,891,3.595398,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,195159,Spider-Man: Into the Spider-Verse (2018),"[Action, Adventure, Animation, Sci-Fi]",4633694,https://m.media-amazon.com/images/M/MV5BMjMwND...,859,4.062864,0,0,0,...,0,0,0,0,0,0,1,1,0,0

In [97]:
for i in range(watched.shape[0]):
    title = watched["title"][i]
    rating = user_movies[title]
    for j in range(7,watched.shape[1]):
        watched.iloc[i,j]*= (rating-3)

In [98]:
gen_mat = watched.iloc[:,7:]
gen_mat

,Drama,Mystery,Romance,Children,Adventure,Action,Comedy,Musical,Documentary,Fantasy,Thriller,War,Horror,Western,Film-Noir,Sci-Fi,Animation,IMAX,Crime
0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,2,2,0,0,0,0,0,0,0,0,0,2,0,2,0
3,0,0,0,0,0,-1,0,0,0,0,-1,0,0,0,0,0,0,0,0
4,0,0,0,0,2,2,0,0,0,0,0,0,0,0,0,2,0,0,0
5,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0
6,0,0,0,0,0,-2,0,0,0,0,-2,0,0,0,0,0,0,0,-2
7,0,0,0,2,2,2,0,0,0,0,0,0,0,0,0,0,2,0,0
8,0,0,0,0,-1,-1,0,0,0,0,0,0,0,0,0,-1,-1,0,0

In [99]:
gen_data = gen_mat.sum(axis = 0)
gen_data

Drama          1
Mystery        0
Romance        2
Children       4
Adventure      6
Action         3
Comedy         2
Musical        0
Documentary    0
Fantasy        0
Thriller      -3
War            0
Horror         0
Western        0
Film-Noir      0
Sci-Fi         3
Animation      2
IMAX           2
Crime         -2
dtype: int64

In [100]:
for j in gen_data.index:
    not_watched[j] *=gen_data[j]

d:\program files\python\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [101]:
not_watched.head()

,movieId,title,genres,imdbId,poster_img,vote_count,avg_rating,Drama,Mystery,Romance,...,Fantasy,Thriller,War,Horror,Western,Film-Noir,Sci-Fi,Animation,IMAX,Crime
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",114709,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,8360,3.829605,0,0,0,...,0,0,0,0,0,0,0,2,0,0
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",113497,https://m.media-amazon.com/images/M/MV5BZTk2Zm...,6044,3.053276,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",113228,https://m.media-amazon.com/images/M/MV5BMjQxM2...,2357,2.856385,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",114885,https://m.media-amazon.com/images/M/MV5BYzcyMD...,653,2.555130,1,0,2,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),[Comedy],113041,https://m.media-amazon.com/images/M/MV5BOTEyNz...,2301,2.710561,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [102]:
score = not_watched.iloc[:,7:].sum(axis=1)
score = (score - score.min())/(score.max()-score.min())
score.head()

0    0.703704
1    0.555556
2    0.333333
3    0.370370
4    0.259259
dtype: float64

In [103]:
nw_ratings = not_watched["avg_rating"]
nw_ratings = (nw_ratings - nw_ratings.min())/(nw_ratings.max()-nw_ratings.min())
nw_ratings.head()

0    0.832209
1    0.609957
2    0.553590
3    0.467346
4    0.511843
Name: avg_rating, dtype: float64

In [104]:
score = score*10 + nw_ratings*5

In [105]:
not_watched["score"] = score.tolist()
not_watched.head()

d:\program files\python\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,movieId,title,genres,imdbId,poster_img,vote_count,avg_rating,Drama,Mystery,Romance,...,Thriller,War,Horror,Western,Film-Noir,Sci-Fi,Animation,IMAX,Crime,score
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",114709,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,8360,3.829605,0,0,0,...,0,0,0,0,0,0,2,0,0,11.198080
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",113497,https://m.media-amazon.com/images/M/MV5BZTk2Zm...,6044,3.053276,0,0,0,...,0,0,0,0,0,0,0,0,0,8.605342
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",113228,https://m.media-amazon.com/images/M/MV5BMjQxM2...,2357,2.856385,0,0,2,...,0,0,0,0,0,0,0,0,0,6.101286
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",114885,https://m.media-amazon.com/images/M/MV5BYzcyMD...,653,2.555130,1,0,2,...,0,0,0,0,0,0,0,0,0,6.040432
4,5,Father of the Bride Part II (1995),[Comedy],113041,https://m.media-amazon.com/images/M/MV5BOTEyNz...,2301,2.710561,0,0,0,...,0,0,0,0,0,0,0,0,0,5.151808

In [106]:
data = not_watched.sort_values(by = "score",ascending = False)
data.head(10)[["title","score","poster_img"]]

,title,score,poster_img
6987,Meet the Robinsons (2007),12.612551,https://m.media-amazon.com/images/M/MV5BZDAyZT...
1007,"Grand Day Out with Wallace and Gromit, A (1989)",12.441686,https://m.media-amazon.com/images/M/MV5BYWUyNj...
5891,"Incredibles, The (2004)",12.290550,https://m.media-amazon.com/images/M/MV5BMTY5OT...
6036,"Twelve Tasks of Asterix, The (Les douze travau...",12.251234,https://m.media-amazon.com/images/M/MV5BYjZlOW...
8177,Kung Fu Panda 2 (2011),12.244724,https://m.media-amazon.com/images/M/MV5BYzQ0ZW...
8122,Mars Needs Moms (2011),12.189945,https://m.media-amazon.com/images/M/MV5BOTA0MT...
8839,The Lego Movie (2014),12.006846,https://m.media-amazon.com/images/M/MV5BMTg4MD...
6335,Robots (2005),11.903806,https://m.media-amazon.com/images/M/MV5BZmJhNT...
2266,"Iron Giant, The (1999)",11.896732,https://m.media-amazon.com/images/M/MV5BMjIxND...
7920,Toy Story 3 (2010),11.875634,https://m.media-amazon.com/images/M/MV5BMTgxOT...